<%
if respond_to?(:current_component) &&
   component_settings.try(:only_verified_votes) &&
   current_component.permissions.try(:[], "vote")
%>
  <div class="reveal two_columns" id="loginModal" data-reveal>
    <div class="reveal__header">
      <h3 class="reveal__title">To participate you must validate yourself. How do you want to participate?<%#= t(".please_sign_in") %></h3>
      <button class="close-button" data-close aria-label="Close modal"
        type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
      <div class="columns medium-6" style="margin-top: 60px;">
        <div class="row">
          <div class="columns medium-10 medium-centered">
            <div class="content" style="background: rgba(239, 96, 77, 0.2);border-radius: 5px;padding: 2rem;">
              <%= render "decidim/shared/only_verified_vote" %>
            </div>  
          </div>
        </div>
      </div>
      <div class="columns medium-6">
        <div class="row">
          <div class="columns medium-10 medium-centered">
            <h5>I already have a user, I want to make login</h5>
            <%= render "decidim/shared/login_modal_without_only_verified" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="reveal" id="loginModal" data-reveal>
    <div class="reveal__header">
      <h3 class="reveal__title"><%= t(".please_sign_in") %></h3>
      <button class="close-button" data-close aria-label="Close modal"
        type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="row">
      <div class="columns medium-8 medium-centered">
        <%= render "decidim/shared/login_modal_without_only_verified" %>
      </div>
    </div>
  </div>
<% end %>
