<%
if respond_to?(:current_component) &&
   component_settings.try(:only_verified_votes) &&
   current_component.permissions.try(:[], "vote")
%>
  <div class="row">
    <div class="columns medium-10 medium-centered">
      <div class="text-center">
        <% votable_gid  = "gid" %>
        <% params = {component_id: current_component.id,
                    redirect_url: URI(request.original_fullpath).path,
                    votable_gid: votable_gid} %>
        <%= link_to("I have no user and I do not want to", decidim.new_only_verified_vote_path(params), class: "button expanded") %>
      </div>
    </div>
    <div class="columns medium-10 medium-centered">
      <div class="text-center">
        <%= link_to t("decidim.shared.login_modal.sign_up"), decidim.new_user_registration_path, class: "sign-up-link button expanded" %>
      </div>
    </div>
  </div>
<% end %>
